/*田中咲良*/



.img{
	width: auto;
	height: 400;
}

.newinfo{
	float:left;
	width:70%
		
}

.postform{
	float:left;
	width:70%;
	
}

.contents{
	display:webkit-flex;
	display:flex;
}

.detail-l1:last-of-type{
	position:-webkit-sticky;
	position:sticky;
	top:0;
}

footer#kimura{
	margin-top:auto;
}
