@charset "utf-8";

body > * {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* progress section */

.progress ul {
  background-color: #eee;
  border: 1px solid #ccc;
  list-style-type: none;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 40%;
  min-width: 400px;
}

.progress li {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  margin: 0 auto;
  text-align: center;
  vertical-align: bottom;
}

.progress li:nth-child(odd) {
  font-family: "Arial Black";
  font-size: 1.2rem;
  width: 3rem;
}

.progress li:nth-child(even) {
  border-right: 1px solid #999;
  font-family: Arial;
  font-size: 1.2rem;
  margin-right: 15px;
  padding-right: 15px;
}

/* form section */

form > *{
  width: 0 auto; 
  margin-bottom: 1rem;
}

input#title{
  width: 480px;
  font-size: larger;
}

textarea {
  width: 480px;
  max-width: 480px;
  height: 240px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
  width: 160px;
  height: 40px;
}

button {
  width: 80px;
  height: 40px;
}
